__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual Environment
Include/
Lib/
Scripts/
bin/
share/
pyvenv.cfg

# Taichi & Vulkan / SPIR-V generated tool binaries & config
SPIRV-Tools*
imgui.ini

# Temporary notebooks, archives, and temporary tools
*.ipynb
*.zip
tools/
